body{
    background: rgb(0,130,115) url(logo_02.png) no-repeat top  ;
    background-position-y: 120px;
    display: flex;
    justify-content: center;
    align-items:center;
   
    height: 90vh;
}
input,button{
    
    padding: 10px 15px;
    margin-bottom: 10PX;
    border-radius: 8px;
    width:-webkit-fill-available;
}
button{
    cursor:pointer;
    transition: background 1s;
}
.CRIAR-CONTA {
 background-color: black;
 color:white; 
 
 
}
.CRIAR-CONTA:hover{
    background-color: transparent;
    color: black;
}
form{
    background: rgb(0,80,81) url() no-repeat; 
    border-radius: 10px;
    padding: 10px 30px 28px 30px;
    width: 300px;
}
label{
    color: white;
}
h1{
   display: flex;
    justify-content:center;
    border: solid black;
    border-radius: 10px;
    background-color:rgb(0,130,115);
    color:white ;
}
